:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(18, 43, 66, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input, select {
  width: 100%;
  padding: 15px 10px 15px 10px;
  border: 1px solid #ccc;
  outline: 0;
}

.input__search {
  padding-left: 40px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
